/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(https://mrwallpaper.com/images/hd/plain-yellow-abstract-art-desktop-2bxdrld0pnx2pe5d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}